{% extends 'Notice_board/base.html' %}
{% block content %}
{% load static %}

  <div id="container" class="opacity">
{% if announcement_detail.image %}
    <a href="{{ image_url }}" rel="prettyPhoto">
        <img src="{{ image_url }}" alt="" />
    </a>
{% endif %}

            <h2>{{ announcement_detail.title }}</h2>
            <p>{{ announcement_detail.content }}</p>


  </div>
<form action="" method="post">
{% csrf_token %}

<table>
<tr>
    <th><label for="id_content">Оставить отзыв:</label></th>
    <td>

      <textarea name="content" cols="40" rows="10" required id="id_content">
Добрый день! ...</textarea>

    </td>
    <td>
        {% if not email_not_confirmed %}
        <input type="submit" value="Save">
            {% else %}
            <button type="button" disabled>Откликнуться</button>
            <h1>Оставить отклик можно только с подтвержденной электронной почтой</h1>
        {% endif %}
    </td>
  </tr>

</table>
</form>
<script type="text/javascript" src="{% static 'style/js/scripts.js' %}"></script>

{% endblock content %}