{% extends 'Notice_board/base.html' %}
{% block content %}
{% load static %}
{% load custom_tags %}

  
  <!-- Begin Container -->
  <div id="container" class="opacity">
    <h2>Доска объявлений для RageShadowFactory</h2>
    <p>Тут какой-то текст.</p>
  <hr size="10">

  <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    
    <!-- Begin Portfolio -->
  {% if announcement_list %}
{% for announcement in announcement_list %}

  <div>
    <h1><a href="http://127.0.0.1:8000/announcements/{{ announcement.pk }}">{{ announcement.title|truncatechars:50 }}</a></h1>
    <p>{{ announcement.content|truncatechars:80 }}</p>
      <br>
    <span class="date">Категория: {{ announcement.category }} от {{ announcement.time_create }}</span>
  <hr>
  <br>
  </div>

{% endfor %}
         {% else %}
       <h2>Объявлений нет!</h2>
   {% endif %}

  {# Добавляем пагинацию на страницу #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    

  </div>
  <!-- End Container -->
  
<!-- End Wrapper --> 



<script type="text/javascript" src="{% static 'style/js/scripts.js' %}"></script>

{% endblock content %}