{% extends 'Notice_board/base.html' %}
{% block content %}
{% load static %}

  <div id="container" class="opacity">
{% if announcement_detail.image %}
    <a href="{{ image_url }}" rel="prettyPhoto">
        <img src="{{ image_url }}" alt="" />
    </a>
{% endif %}

            <h2>{{ announcement_detail.title }}</h2>
            <p>{{ announcement_detail.content }}</p>


  </div>
 <hr>

  <a href="{% url 'Notice_board:reply_to' %}?announcement_id={{ announcement.id }}">
    <button>Add Response</button>
  </a>
<script type="text/javascript" src="{% static 'style/js/scripts.js' %}"></script>

{% endblock content %}